.myaccordion {
  max-width: 500px;
  margin: 50px auto;
  box-shadow: 0 0 1px rgba(0,0,0,0.1);
}

.myaccordion .card,
.myaccordion .card:last-child .card-header {
  border: none;
  background:none;
}

.myaccordion .card-header {
  background: none;
}

#headingOne {
  text-transform:uppercase !important; 
  color:pink;
}
.myaccordion .fa-stack {
  font-size: 18px;
}

.card-body {
  color:white; 
  background-color:rgba(0, 0, 0, 0.561);
    border-top: rgba(255, 255, 255, 0.397) solid 0.1rem;
}
.myaccordion .btn {
  background-color:rgba(85, 13, 13, 0.8);box-shadow: 0px 0px 17px rgb(136, 28, 28);
  width: 100%;
  font-weight: bold;
  color:white;
  font-family: 'Almendra Display', sans-serif;
  font-size: 2rem;
  font-weight: bolder;
  border-radius:1%;
  padding:1rem;
  background-color:rgba(85, 13, 13, 0.637);
  text-shadow: 1px 1px 5px rgb(0, 0, 0);
  transition: all 1s;
  background-color:none;
}

.myaccordion .btn:hover {
  color:white;
  text-shadow: 0px 0px 10px #FFFFFF;  
}

.myaccordion .btn-link:hover,
.myaccordion .btn-link:focus {
  text-decoration: none;
}

.myaccordion li + li {
  margin-top: 10px;
}

#showWhenSmall {
  display:none;

}

/* Float Animation */
@keyframes float {
  0% {
    top:0rem;
}
  50% {
    top:1rem;
}
  100% {
    top:0rem;
}
}

/*Emphasize Text on Hover */
.footerButton {
  color:white;
  transition: color 0.25s ease-in-out;
}
.footerButton:hover {
  text-shadow: 0px 0px 17px #FFFFFF;
  color:white;
}

#oneClick,#twoClick,#threeClick,#fourClick,#fiveClick,#sixClick {
  width: 75vw;
  position:relative;
  font-size:2vw;
  font-family: 'Roboto', sans-serif;
  font-weight: thin;
  color:white;
  margin-top:5vw;
  border: 0.1rem solid rgba(23, 7, 36, 0.405);
  padding:1rem 1rem;
  border-radius: 15px 50px;
  -webkit-box-shadow: 6px 7px 27px -11px rgba(0,0,0,0.75);
  -moz-box-shadow: 6px 7px 27px -11px rgba(0,0,0,0.75);
  box-shadow: 6px 7px 27px -11px rgba(0,0,0,0.75);
}

#oneClick {
  background-color: rgba(138, 21, 21, 0.4); 
}
#twoClick {
  background-color: rgba(211, 127, 17, 0.4); 
}
#threeClick {
  background-color: rgba(208, 211, 41, 0.4); 
}
#fourClick {
  background-color: rgba(26, 112, 26, 0.4); 
}
#fiveClick {
  background-color: rgba(45, 47, 155, 0.4); 
}
#sixClick {
  background-color: rgba(98, 34, 117, 0.4); 
}
#pH1 {
  transform: rotate(-50deg);
}
#pH2 {
  transform: rotate(-35deg);
}
#pH3{
  transform: rotate(-5deg);
}
#pH4 {
  transform: rotate(5deg);
}
#pH5 {
  transform: rotate(35deg);
}
#pH6 {
  transform: rotate(50deg);
}

#pH1, #pH2, #pH3, #pH4, #pH5, #pH6 {
  color:white;
  font-family: 'Almendra Display', cursive;
  font-size: 3vw;
  font-weight: bolder;
  border-radius:10%;
  text-shadow: 1px 1px 11px rgba(0,0,0,0.77);
  transition: all 1s;
  position:relative;
  padding:40px 0px;
}
#itemOne, #itemTwo, #itemThree, #itemFour, #itemFive, #itemSix {
  padding:10px 0px;
}
#pH1, #pH6 {
  top:10vw;
}
#pH3, #pH4 {
  top:-10vw;
}
#pH2, #pH5 {
  top:-2vw;
  transition: all 0.5s;
}


@media only screen and (max-width: 767px) {
  #hideWhenSmall {
    display:none;

  }
  #showWhenSmall {
    display:flex;

  }
  
  }


}




/* Images Hover Text Buckets */ 
figure.snip1105 {
  position: relative;
  overflow: hidden;
  height: 30rem;
  text-align: center;
  background-color: black;
  border-style: none !important; 
}


figure.snip1105 * {
  -webkit-transition: all 1.1s ease-in-out;
  transition: all 1.1s ease-in-out;
}

figure.snip1105 img {
  transition: all 1.1s ease-in-out; 
  opacity:0.9; 
  filter: blur(2px);
  background-repeat: no-repeat;
  background-size: cover; width:100%; height:100%;
}

figure.snip1105 figcaption {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.imgHeaderText {
  -webkit-transition: all 0.3s linear !important;
  transition: all 0.3s linear !important;
    color:white;
    text-shadow: 0.2vh 0.2vh 0vh #2c2c2c;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    position: absolute;
    left: 5%;
    right: 5%;
    padding: 5rem 3rem;
    border-radius: 2em;
    position: bottom;
    font-size: 3.5rem;
    font-weight: thin;
    text-transform:uppercase;
    line-height:3.0rem;
    z-index:10;
    height:100%;
}

figure.snip1105 h33 {
  -webkit-transition: all 0.75s ease-in-out;
  transition: all 0.75s ease-in-out;
  position: absolute;
  top:10rem;
  left: 10%;
  right: 10%;
  text-shadow: 0.2vh 0.2vh 0vh #2c2c2c;
  color: white;
  font-size: 1.30rem;
  padding: 12px 12px;
  margin: 0;
  opacity: 0;
  z-index:15;
  font-family: 'Roboto', sans-serif;
}

figure.snip1105:hover .imgHeaderText {
  opacity: 0.5;
  font-size: 2rem;
  transform:translate(0%, -5%);
}


figure.snip1105:hover h33 {
  -webkit-transform: translate(0%, -10%);
  opacity: 1;
  transform:translate(0%, -10%);
}

@media only screen and (min-width: 3500px) {
  #marginTopChange  {
    margin-top:400vh ;
  }
}
@media only screen and (min-width: 3000px) {
  #marginTopChange  {
    margin-top:400vh ;
  }
}
@media only screen and (min-width: 1600px) {
  #marginTopChange  {
    margin-top:25vh ;
  }
}
@media only screen and (max-width: 1600px) {
  .imgHeaderText {
    font-size: 3rem;
    line-height:2.5rem;

}

figure.snip1105 h33 {
  top:10rem;
  font-size: 1.25rem;

}
figure.snip1105:hover .imgHeaderText {
  font-size: 2.0rem;
  transform:translate(0%, -5%);
}
.headerPage {
top: -20rem;
}
}

@media only screen and (max-width: 1500px) {
  figure.snip1105 {
    height:15rem;
  }
  .imgHeaderText {
    top: 2rem;
    padding: 2rem 1rem;
}
figure.snip1105 h33 {

    top:7rem;
    font-size: 0.8rem;
  
  }
  figure.snip1105:hover .imgHeaderText {
    font-size: 1.5rem;
    transform:translate(0%, -10%);
  }

}

@media only screen and (max-width: 1200px) {
  figure.snip1105 {
    height:8rem;
  }
  .imgHeaderText {
    top: 1.0rem;
    font-size:2.5rem;
}
figure.snip1105:hover .imgHeaderText {
  font-size: 1.5rem;
  transform:translate(0%, -32%);
}
figure.snip1105 h33 {
  top:2.8rem;
  font-size: 0.7rem;
}
.formHolder {
  width:65rem;
}

}
@media only screen and (max-width: 1000px) {
  figure.snip1105 h33 {

    top:2rem;
    font-size: 0.8rem;
  }
  figure.snip1105 {
    height:10rem;
  }
  .imgHeaderText {
    top: 0.5rem;
    font-size:2.5rem;
}
  figure.snip1105:hover .imgHeaderText {
    font-size: 3.5rem;
    transform:translate(0%, -10%);
  }
  figure.snip1105:hover .imgHeaderText {
    font-size: 1.5rem;
    transform:translate(0%, -22%);
  }
  figure.snip1105 h33 {
    top:3rem;
    font-size: 0.7rem;
  }
  .formHolder {
    width:55rem;
  }
  .phoneBackground {
    background-color:black; 
    opacity:1.0;

  }
  .buttonText {
    font-size: 2rem;
  }
  .main-container {
    padding-top: 5rem; /* height of your footer */
   }
   headerPage {
     font-size: 8rem;
   }
}
@media only screen and (max-width: 800px) {
  .formHolder {
    width:45rem;
  }
}
@media only screen and (max-width: 500px) {
  .imgHeaderText {
    top: 3rem;
}
  figure.snip1105 {
    height:20rem;
  }
  figure.snip1105 h33 {
    top:4rem;
    font-size: 1rem;
  }

}